streamlit
langchain
langchain-community
langgraph
langchain-text-splitters
langchain-chroma
chromadb
sentence-transformers
pypdf
rank_bm25
duckduckgo-search
ollama
langchain_huggingface
langchain_groq