streamlit
langchain
langchain-community
langgraph
langchain-text-splitters
langchain-chroma
chromadb
pypdf
rank-bm25
langchain-huggingface
langchain-groq
huggingface-hub
python-dotenv
ddgs
nest-asyncio
sentence-transformers